@import url("https://fonts.googleapis.com/css2?family=Cute+Font&display=swap");

.App {
  background-color: #fadadd;
}
.side {
  position: fixed;
  top: -5%;
  right: 60%;
  width: 300px;
  height: 100vh;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.side img {
  max-width: 100%;
  max-height: 50%;
  margin-bottom: 20px;
}
.crown {
  font-family: "Cute Font", cursive;
  font-size: 80px;
  color: white;
  width: 50rem;
  margin-left: -60%;
}
.crown-icon {
  position: relative;
  width: 80px;
  height: auto;
  top: 10%;
  left: 61%;
}
